{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["warn", {}],
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 3
      }
    ]
  }
}
