{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "react/state-in-constructor": 0,
    "react/jsx-props-no-spreading": [
      1,
      {
        "custom": "ignore"
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 4
      }
    ]
  }
}
